body{
	margin: 0;
	background-color: #f9f9f9;
}

.heading{
	max-width: 100%;
	height: 70px;
	font-size: 40px;
	line-height: 70px;
	color: green;
	padding-left: 6%;
	border-bottom: 1px;
	border-color: black;
	border-bottom-style: solid;
	border-bottom-width: 40%;
	background-color: white;
	z-index: -1;
}

.fieldstable{
	max-width: 100%;
	padding-left: 6%;
	margin-top: 20px;
	z-index: -1;
}

.title{
	padding: 1.35%;
	text-align: right;
	width: 250px;
	font-size: 20px;
	line-height: 20px;
	z-index: -1;
}

.textfield{
	height: 20px;
	width: 200px;
	z-index: -1;
}

.textar{
	border-style: solid;
	border-color: black;
	border-width: .1px;
	z-index: -1;
}

.butt{
	background-color: #c2cad6;
	border-style: none;
	height: 30px;
	width: 70px;
	z-index: -1;
}

.tips{
	background-color: black;
	color: white;
	display: none;
	z-index: 2;
	position: absolute;
	margin-left: 1%;
}

.innertable{
	z-index: -1;
	margin: 0;
	padding: 0;
}

.tips p{
	padding: 5px;
	margin: 0px;
}

.inner{
	margin: 2px;
	background-color: white;
	color: black;
	padding-bottom: 5px;
}

.inner p{
	font-size: 14px;
	line-height: 8px;
}

.inner b{
	font-size: 20px;
}

.progress{
	height: 35px;
	margin-left: 5%;
	margin-bottom: 5px;
	width: 90%;
	border-style: solid;
	border-width: .3px;
	border-color: black;
}

.current{
	height: inherit;
	background-color: green;
	width: 0;
}

.invalid{
	color: red;
	display: none;
}

.nomatch{
	color: red;
	display: none;
}

.paragraph{
	background-color: purple;
	color: white;
	display: none;
	z-index: 2;
	position: absolute;
	margin-left: 1%;
	width: 20%;
}

.paragraph p{
	margin: 2px;
}

.finalerror{
	color: red;
	display: none;
	margin:0;	
}