@charset "utf-8";
/* CSS Document */
body{
    font-family: 'Karla', sans-serif;
}

.loginrow{
    background:#62C192;
    padding-top:30px;
    padding-bottom:30px;
}

.loginrow img{
    width:100px;
}

.nopad{
    padding:0;
}

.mar10{margin-top:10px;}
.mar15{margin-top:15px;}
.mar20{margin-top:20px;}
.mar30{margin-top:30px;}
.mar40{margin-top:40px;}
.mar50{margin-top:50px;}
.mar60{margin-top:60px;}
.mar70{margin-top:70px;}
.mar80{margin-top:80px;}
.mar90{margin-top:90px;}
.mar100{margin-top:100px;}
.mar170{margin-top:170px;}
.mar200{margin-top:200px;}

.sidebar{
    padding-top:30px;
    padding-bottom:30px;
    background:#62C192;
}

.sidebar img{
    width:100px;
}

.active{
    background:#457F5F;
    padding:5px 10px;
}

.nvv ul{
    padding:0;
}

.nvv ul li{
    list-style:none;
    line-height:35px;
}

.status{
    border:none;
    resize:none;
    width:90%;
    border-bottom:1px solid #999;
    padding-bottom:40px;
    background:none;
}

.status:focus{
    outline:none;
    border-color:#62C192
}

.status::-webkit-input-placeholder{
    color:#ccc;
}

.nvv ul li a{
    color:#fff;
    font-size:11px;
    letter-spacing:1px;
}

.marleft2{
    margin-left:4%;
}

.feed{
    background:#F2F4F3;
    padding-top:10px;
    padding-bottom:10px;
}

.pp{
    color:#5AB285;
    font-size:15px;
    letter-spacing:1px;
}

.pp p{
    padding-top: 2.6%;
    padding-left: 12%;
}

.pp img{
    max-width:10%;
    max-height: 10%;
    float: left;
}

.dname{
	color:#fff;
	font-weight:400;
}

.title{
	color:#fff;
	font-size:11px;
	letter-spacing:1px;
}
.name{
    color:#5AB285;
    font-size:13px;
    letter-spacing:1px;
}

.name span{
    color:#A9A8A8;
    font-size:10px;
}

.feed1 p{
    color:#ABAAAF;
    font-size:12px;
    line-height:32px;
    letter-spacing:1px;
    font-weight:300;
    padding-left: 12%;
}

.btn3{
    border:1px solid #62C192;
    padding:8px 5%;
    font-size:11px;
    color:#62C192
}

.btn3:hover{
    text-decoration:none;
}

.head{
    background:#F5F5F5;
    padding-bottom:10px;
    padding-left:22px;
}

.head h2{
    font-size:14px;
}

.btn2{
    background:#62C192;
    color:#fff;
    border:none;
    padding:10px 30px;
    font-size:11px;
}

.btn1, .btn2, .btn3{
    text-transform:uppercase;
}

.phonenv, .phnav{
    display:none;
}

.trends{
    height: 400px;
    background-color: #62C192;
    margin-left: 0px;
}

@media(max-width:991px){

    .name{
        margin-top: 10px;
    }

    .x{
        margin-top: 20px;
    }
    .x .col-md-2{
        padding-left: 0;
    }
    .padleft0{
        padding-left:15px;
    }
    .absimg{
        display:none;
    }
    .nopadresponsive{
        padding: 0;
    }
    .resmar10{
        margin-top:10px;
    }
    .resmar15{
        margin-top:15px;
    }
    .resmar20{
        margin-top:20px;
    }
    .signin .col-md-2{
        margin-left: 0;
    }
    .btn1{
        padding: 2% 5%;
        margin-bottom:10px;
        margin-left: 0;
    }
    .btn2{
        padding: 2% 4%;
        margin-bottom:10px;
    }
    .forgot a{
        font-size:12px;
        color:#fff;
    }
    .mar170{
        margin-top:10px;
    }
    .phonenv{
        display:block;
    }
    .prp img{
        width:40px;
    }
    .loginrow{
        padding-top:20px;
        padding-bottom:20px;
    }
    .logo{
        line-height:43px;
    }
    .menu{
        margin-top:10px;
    }
    .menu img{
        width:20px;
        margin-top:5%;
    }

    .sideouter{
    	margin-top: 3%;    	
    }

    .sidebar{
        display:none;
    }
    .phnav{
        background:#62C192;
    }

    .pp{
        color:#5AB285;
        font-size:13px;
        letter-spacing:1px;
    }

    .pp p{
        padding-top: 3.4%;
        padding-left: 12%;
    }

    .phnav ul {
        padding:0;
        margin:0;
    }
    .phnav ul li{
        line-height:50px;
        color:#fff;
    }
    .phnav ul li p{
        color:#fff;
    }
    .phnav ul li a{
        color:#fff;
    }
    .status{
        width:100%;
    }
    .pddeets{
        padding:0;
        margin-top:20px;
    }
}

